WOODPECKER_HOST=http://49.233.152.22:6607
WOODPECKER_ADMIN=your-github-username
WOODPECKER_REPO_OWNERS=zdy-collab
WOODPECKER_GITHUB_CLIENT=replace-with-github-oauth-client-id
WOODPECKER_GITHUB_SECRET=replace-with-new-github-oauth-secret
WOODPECKER_AGENT_SECRET=replace-with-new-agent-secret
